<?xml version="1.0"?>
<robot name="r2d2" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
<xacro:arg name="prefix" default="r2d2/"/>
<xacro:arg name="rgb" default="0 0 1"/>

<material name="color">
    <color rgba="$(arg rgb) 1"/>
</material>
  
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <link name="$(arg prefix)base_link">
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
      <material name="color"/>
    </visual>
  </link>
  
  <link name="$(arg prefix)base_footprint">
  </link>
  
  <joint name="ground" type="fixed">
      <child link="$(arg prefix)base_link"/>
      <parent link="$(arg prefix)base_footprint"/>
    <origin xyz="0 0 .47"/>
   </joint>
   
  <link name="$(arg prefix)right_leg">
    <visual>
      <geometry>
        <box size="0.6 .1 .2"/>
      </geometry>
      <origin rpy="0 1.57075 0" xyz="0 0 -0.3"/>
      <material name="white"/>
    </visual>
  </link>

  <joint name="base_to_right_leg" type="fixed">
    <parent link="$(arg prefix)base_link"/>
    <child link="$(arg prefix)right_leg"/>
    <origin xyz="0 -0.22 .25"/>
  </joint>

  <link name="$(arg prefix)right_base">
    <visual>
      <geometry>
        <box size="0.4 .1 .1"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>

  <joint name="right_base_joint" type="fixed">
    <parent link="$(arg prefix)right_leg"/>
    <child link="$(arg prefix)right_base"/>
    <origin xyz="0 0 -0.6"/>
  </joint>

  <link name="$(arg prefix)right_front_wheel">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.1" radius="0.035"/>
      </geometry>
      <material name="black"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>
  <joint name="right_front_wheel_joint" type="fixed">
    <axis rpy="0 0 0" xyz="0 1 0"/>
    <parent link="$(arg prefix)right_base"/>
    <child link="$(arg prefix)right_front_wheel"/>
    <origin rpy="0 0 0" xyz="0.133333333333 0 -0.085"/>
  </joint>

  <link name="$(arg prefix)right_back_wheel">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.1" radius="0.035"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  <joint name="right_back_wheel_joint" type="fixed">
    <axis rpy="0 0 0" xyz="0 1 0"/>
    <parent link="$(arg prefix)right_base"/>
    <child link="$(arg prefix)right_back_wheel"/>
    <origin rpy="0 0 0" xyz="-0.133333333333 0 -0.085"/>
  </joint>

  <link name="$(arg prefix)left_leg">
    <visual>
      <geometry>
        <box size="0.6 .1 .2"/>
      </geometry>
      <origin rpy="0 1.57075 0" xyz="0 0 -0.3"/>
      <material name="white"/>
    </visual>
  </link>

  <joint name="base_to_left_leg" type="fixed">
    <parent link="$(arg prefix)base_link"/>
    <child link="$(arg prefix)left_leg"/>
    <origin xyz="0 0.22 .25"/>
  </joint>

  <link name="$(arg prefix)left_base">
    <visual>
      <geometry>
        <box size="0.4 .1 .1"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>

  <joint name="left_base_joint" type="fixed">
    <parent link="$(arg prefix)left_leg"/>
    <child link="$(arg prefix)left_base"/>
    <origin xyz="0 0 -0.6"/>
  </joint>

  <link name="$(arg prefix)left_front_wheel">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.1" radius="0.035"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  <joint name="left_front_wheel_joint" type="fixed">
    <parent link="$(arg prefix)left_base"/>
    <child link="$(arg prefix)left_front_wheel"/>
    <origin rpy="0 0 0" xyz="0.133333333333 0 -0.085"/>
  </joint>

  <link name="$(arg prefix)left_back_wheel">
    <visual>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.1" radius="0.035"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  <joint name="left_back_wheel_joint" type="fixed">
    <axis rpy="0 0 0" xyz="0 1 0"/>
    <parent link="$(arg prefix)left_base"/>
    <child link="$(arg prefix)left_back_wheel"/>
    <origin rpy="0 0 0" xyz="-0.133333333333 0 -0.085"/>
  </joint>

  <link name="$(arg prefix)head">
    <visual>
      <geometry>
        <sphere radius="0.2"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>
  <joint name="head_swivel" type="fixed">
    <parent link="$(arg prefix)base_link"/>
    <child link="$(arg prefix)head"/>
    <origin xyz="0 0 0.3"/>
  </joint>

  <link name="$(arg prefix)box">
    <visual>
      <geometry>
        <box size=".08 .08 .08"/>
      </geometry>
      <material name="color"/>
    </visual>
  </link>

  <joint name="tobox" type="fixed">
    <parent link="$(arg prefix)head"/>
    <child link="$(arg prefix)box"/>
    <origin xyz="0.1814 0 0.1414"/>
  </joint>
</robot>
