<?xml version="1.0"?>
<launch>
    <group ns="waffle">
    
        <param name="robot_description" command="$(find xacro)/xacro $(find map_simulator)/example/turtlebot3_waffle_pi.urdf"/>
        
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
        
        <node pkg="map_simulator" type="spawn" name="spawn">
            <param name="zero_joints" value="true"/>
            <param name="static_tf_odom" value="true"/>
            <param name="radius" value=".2"/>
            <param name="x" value="1."/>
            <param name="robot_color" value="[50,50,50]"/>
            <param name="laser_color" value="[0,255,0]"/>
        </node>
    </group>
</launch>
